	body { padding: 50px; width: max-content;}
	table { float: left; width: unset !important;}
	.normal { background-color: lightblue; }
	.prem { background-color: gold }
	.event { background-color: mediumpurple; color: white; }
	td { width: fit-content; }
	tr { border: 2px solid lightgrey; border-bottom: none; cursor: pointer;}
	.hover { border: 2px solid lightgrey; border-left-color: orange; border-right-color: orange;}
	.hover1 { border: 2px solid gold; border-bottom: none; }
	.hover2 { border: 2px solid orange; border-bottom: none; }
	.hover3 { border: 2px solid orange; border-top: none; }
	.hover4 { border: 2px solid gold; border-top: none; }
	.disabled { pointer-events: none; }
	.active { border: 3px solid red; }