	body { padding: 50px; width: max-content; padding-left: 100px;}
	.table-container { display: block; width: fit-content; }
	.nationheader { width: 7% }
	td { width: 90px; max-width: 90px; min-width: 90px; word-break: break-word;}
	.normal { background-color: lightblue; }
	.prem { background-color: gold }
	.event { background-color: mediumpurple; color: white; }
	td { width: fit-content; font-size: 0.8em; padding: 0.3rem !important; }
	tr { border: 2px solid lightgrey; border-bottom: none; cursor: pointer;}
	.hoverL { border-left: 2px solid orange !important;}
	.hoverR { border-right: 2px solid orange !important;}
	.hoverL2 { border-left: 2px solid gold !important;}
	.hoverR2 { border-right: 2px solid gold !important;}
	.disabled { pointer-events: none; }
	.active { border-left: 3px solid red !important; border-right: 3px solid red !important; }
	.tooltip { display: inline-block; position: fixed; padding: .5em 1em; background-color: #f1f1f1 }
	.btn { vertical-align: text-bottom; }
	h2 { display: block; width: 100%; text-align: center; }
	div.tip {

	    /* Required */
	    position: absolute;
	    z-index: 2;
	    display: none;

	    /* Optional */
	    font-size: 15px;
	    max-width: 180px;
	    min-width: 180px;
	    height: auto;
	    padding: 10px;
	    border-radius: 3px;
	    box-shadow: 0 1px 2px #666;
	    background: #34BC9D;
	}
	span.brtooltip { display: block; }
	.dropdown-item { padding: 0.15rem 1.4rem; font-size: 0.8em; cursor: pointer;}
	.dropdown-menu { top: unset !important; transform: unset !important; min-width: 7rem; }